@keyframes revealUp {
    0% {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes revealUpmobile {
    0% {
        transform: translateY(76px);
    }

    to {
        transform: translateY(0);
    }
}

@font-face {
    font-family: "Proxima Extrabold";
    src: url(fonts/proximanova-extrabold-webfont.woff2) format("woff2"),
        url(fonts/proximanova-extrabold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Light";
    src: url(fonts/proximanova-light-webfont.woff2) format("woff2"),
        url(fonts/proximanova-light-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #e3e5e9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    height: 44px;
    overflow: hidden;
    /* border: 1px solid #0e011c; */
}

#coming--soon {
    transform: translateY(40px);
    animation-name: revealUp;
    animation-duration: 1150ms;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: forwards;
    animation-delay: 750ms;
}

.coming--soon--portafolio,
.coming--soon--skyyym {
    color: #05010a;
    text-transform: uppercase;
}

.coming--soon--skyyym {
    font: 1.5vw "Proxima Extrabold", Arial, Helvetica, sans-serif;
}

.coming--soon--portafolio {
    font: 1.5vw "Proxima Light", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px) {
    #coming--soon {
        text-align: center;
        transform: translateY(76px);
        animation-name: revealUpmobile;
    }

    .coming--soon--portafolio,
    .coming--soon--skyyym {
        font-size: 5vw;
    }

    main {
        height: 82px;
    }
}